@import "_frames";

@media screen and (max-width: map-get($breakpoints, "mobile")) {
    .navbar *{
        display: none;
    }
}
@media screen and (max-width: map-get($breakpoints, "mobile_landscape")) {
    .navbar *{
        font-size: .75rem;
    }
    .lng-icon{
        display: none;
    }
}
@media screen and (max-width: map-get($breakpoints, "tablet")) {
}
@media screen and (max-width: map-get($breakpoints, "tablet_landscape")) {
}
@media screen and (max-width: map-get($breakpoints, "laptop")) {
}
@media screen and (max-width: map-get($breakpoints, "desktop")) {
}